!!!
html
  head
    title= title
    
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Trade+Winds', type='text/css')
    link(rel='stylesheet', href='/css/fighter.css')

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35011040-1']);
      _gaq.push(['_setDomainName', 'tuiterfighter.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body.ancient
    div.container
      div.full-row
        h1
          span T
          | uiter
          span  F
          | ighter 
          span !

      div.full-row
        div.oldBird
        div.oldDesc
          p.oldMsg.big seems you are a "little" behind
          p.oldMsg.small get yourself a gift and download a nice and young Browser 
          p.oldMsg.big 
            a(href="http://www.updatebrowser.net/") here

      
