div.container
	div.sixteen.columns
		h1= title

	div.sixteen.columns
		p.slogan Which words are gonna being fighting on Twitter?
		
	div.sixteen.columns
		div.eight.columns.offset-by-four.content
			input#keywords(type="text")
			button#go +

	div#fighter-ctn
		canvas#canvasFight(width="800", height="480")
		div.tuits
			div.left.t0
			div.left.t1
			div.right.t0
			div.right.t1

	div#clock
	div#results.sixteen.columns.content
	ul#nextFights