div.container
	div.sixteen.columns
		h1
			span T
			| uiter
			span  F
			| ighter !

	div.sixteen.columns
		p.slogan Which words are gonna being fighting on Twitter?
		
	div.sixteen.columns
		div.addFight
			input#wordLeft(type="text")
			span.vs VS
			input#wordRight(type="text")
		button#go Go!

	div#fighter-ctn
		canvas#canvasFight(width="800", height="480")
