div.container
	div.full-row
		h1
			span T
			| uiter
			span  F
			| ighter 
			span !

	div.full-row
		p.slogan Which words are gonna being fighting on Twitter?
		
	div.fixed-row-600
		div.addFight
			input#wordLeft.locked(type="text",readonly="readonly", value="LOCKED", title="Loading...")
			span.vs VS
			input#wordRight.locked(type="text",readonly="readonly", value="LOCKED", title="Loading...")
		button#go(style="display:none") Go!

	div.full-row
		div#fighter-ctn
			canvas#canvasFight(width="800", height="480")

