div.container
	div.full-row
		h1
			span T
			| uiter
			span  F
			| ighter 
			span !

	div.full-row
		p.slogan Which words are gonna being fighting on Twitter?
		
	div.fixed-row-600
		div.addFight
			input#wordLeft(type="text")
			span.vs VS
			input#wordRight(type="text")
		button#go Go!

	div.full-row
		div#fighter-ctn
			canvas#canvasFight(width="800", height="480")

