div.container
	div.sixteen.columns
		h1= title

	div.sixteen.columns
		p.slogan Which words are gonna being fighting on Twitter?
		
	div.sixteen.columns
		div.eight.columns.offset-by-four.content
			input#keywords(type="text")
			button#go GO!
	div#clock
	div#results.sixteen.columns.content
