!!!
html
  head
    title= title
    
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Trade+Winds', type='text/css')
    link(rel='stylesheet', href='/css/fighter.css')

    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35011040-1']);
      _gaq.push(['_setDomainName', 'tuiterfighter.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body!= body

  div.footer
    div.ctn
      p Built with 
        a(href="http://nodejs.org", target="_blank") NodeJS
        |  & awesome libraries like: 
        a(href="http://expressjs.com", target="_blank") Express
        | , 
        a(href="http://jade.com", target="_blank") Jade
        | , 
        a(href="http://socket.io", target="_blank") SocketIO
        |  & 
        a(href="http://gruntjs.com", target="_blank") Grunt
      p Hosted in 
        a(href="http://node.jit.su", target="_blank") NodeJitsu
      p.thanks Thanks for the great work to:
      ul.thanks
        li Dan Zadjband for his support & library 
          a(href="http://github.com", target="_blank") Tuiter
        li John Burks 
          | (background pattern 
          a(href="http://subtlepatterns.com/?s=dark+mosaic", target="_blank") Dark Mosaic
          | )
        li Blambot 
          | (font type 
          a(href="http://www.dafont.com/badaboom-bb.font", target="_blank") Badaboom BB
          | )
        li [Name] 
          | (font type 
          a(href="http://www.dafont.com/badaboom-bb.font", target="_blank") Trade Winds
          | )
      p.copyright copyright &copy 2012 Pablo Novas