body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: url('/img/dark_mosaic.png') repeat;
  font-family: 'Trade Winds', cursive;
}

@font-face {
  font-family: 'tuiterfighter';
  src: url('../fonts/BADABB__/BADABB__.eot');
  src: local('☺'), url('../fonts/BADABB__/BADABB__.woff') format('woff'), url('../fonts/BADABB__/BADABB__.ttf') format('truetype'), url('../fonts/BADABB__/BADABB__.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container, .footer .ctn {
  position: relative;
  width: 865px; /*960px;*/
  margin: 0 auto;
  padding: 0;
}

.container .full-row {
  width: 100%;
  display: inline-block;
}

h1 {
  font-family: 'tuiterfighter';
  color: #FF5200;
  text-shadow: 1px 1px 1px white;
  text-align: center;
  font-size: 40pt;
  letter-spacing: 5px;
}

h1 span {
  font-size: 50pt;
  letter-spacing: 5px;
}

.footer {
  width: 100%;
  background-color: rgba(4, 19, 0, 0.5);
  margin-top: 50px;
  border-top: solid 5px #001805;
  box-shadow: 0 0 100px #011100;
}

.footer, .footer .ctn {
  height: 220px;
}

.footer .ctn {
  color: #FFF;
  font-size: 14px;
}

.footer .ctn p.thanks{
  font-weight: bold;
  font-size: 16px;  
}

.footer .ctn ul.thanks {
  list-style: none;
  padding-left: 10px;
}

.footer .ctn ul.thanks li{
  margin: 5px 0;
}

.footer .ctn a {
  color: #FFF;
  text-decoration: underline;
}

.footer .ctn .copyright {
  font-size: 18px;
  float: right;
  margin: 0;
  margin-top: -30px;
}

.slogan {
  text-align: center;
  color: #FFF;
  font-size: 16px;
}

.addFight {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 50px;
}

#wordLeft {
  float: left;
}

#wordRight {
  float: right;
}

#wordLeft, #wordRight {
  font-size:16px;
  padding: 6px;
  width: 200px;

  -moz-box-shadow:inset 2px 2px 5px #6F6F6F;
  -webkit-box-shadow:inset 2px 2px 5px #6F6F6F;
  box-shadow:inset 2px 2px 5px #6F6F6F;
  
  border: 1px solid #b8b8b8;  

  border-radius: 5px;
  padding-top: 5px;
}

#wordLeft.locked, #wordRight.locked {
  background-color: gray;
  text-align: center;
  color: #C40000;

  -moz-box-shadow:inset 2px 2px 5px #DDD;
  -webkit-box-shadow:inset 2px 2px 5px #DDD;
  box-shadow: inset 2px 2px 5px #DDD;
}

#wordLeft.error, #wordRight.error {
  background: #611;

  -moz-box-shadow:inset 2px 2px 5px #050505;
  -webkit-box-shadow:inset 2px 2px 5px #050505;
  box-shadow: inset 2px 2px 5px #050505;
  border: solid 1px #530404;
}

.vs {
  font-family: 'tuiterfighter';
  color: #FF5200;
  text-shadow: 1px 1px 1px white;
  text-align: center;
  font-size: 30pt;
  letter-spacing: 5px;
  
  width: 100px;
  height: 40px;
  position: absolute;
  left: 200px;
  top: -5px;
}

#go {
  width: 70px;
  height: 45px;
  border-radius: 5px;
  border: solid 2px #EB6903;
  background-color: #FFB46F;
  margin-left: 5px;
  box-shadow: 1px 1px 1px #C98342 inset;
  line-height: 1.2;
  font-family: 'tuiterfighter';
  font-size: 35px;
  color: #923500;

  position: absolute;
  right: -100px;
  top: -5px;

  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; 
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; 
}

#go:hover{
  cursor: pointer;

  border: solid 2px #129200;
  background-color: #86FF6F;
  box-shadow: 1px 1px 1px #5DC942 inset;
  color: #045C00;
}

/*************************************
* Fighter!
*************************************/

#fighter-ctn {
  font-family:'tuiterfighter', sans-serif;

  position: relative;
  overflow: hidden;
  
  box-shadow: 0px 0px 100px #000 inset;
  margin: 0 auto;

  height:1500px; 
  border-radius: 20px; 
}

#fighter-ctn, .cover, .bigcover {
  width: 800px; 
}

.cover, .bigcover {
  position: absolute;
  top: 0;
  left: 0;
  height:750px; 
  background-color: black;
  z-index: 10;
  border-radius: 20px 20px 0 0; 

  opacity: 0;

  transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
}

.cover.show, .bigcover.show {
  opacity: 1; 
}

.cover.opaque {
  opacity: 0.6; 
}

.bigcover {
  height:1500px; 
  border-radius: 20px; 
  z-index: 15;
}

#canvasFight {
  border-radius: 20px 20px 0 0; 
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 1; 
}

/*************************************
* Status Bar
*************************************/

.statusBar {
  position: absolute;
  top: 20px;
  width: 350px;
  height: 57px;
  z-index: 2;

  background: url('../img/life-bar.png'); 
  background-repeat: no-repeat;

  transition: top 1s ease;
  -moz-transition: top 1s ease;
  -webkit-transition: top 1s ease;
  -o-transition: top 1s ease;
}

.statusBar.hidden {
  top: -100px;
}

.statusBar.left {
  left: 10px;
  background-position: 0 0;
}

.statusBar.right {
  right:10px;
  background-position: 0 -57px;
}

.statusBar .life-ctn {
  position: absolute;
  top: 30px;
  width: 245px;
  height: 15px;
  z-index: 3;

}

.statusBar .word {
  position: absolute;
  bottom: -32px;
  z-index: 4;
  padding: 2px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 270px;
}

.statusBar.left .word {
  left: 0px;
  text-align: left;
}

.statusBar.right .word {
  right: -2px;
  text-align: right;
}

.statusBar.left .life-ctn {
  right: 15px;
}

.statusBar.right .life-ctn {
  left: 17px;
}


.statusBar .life-ctn .life {
  z-index: 5;
}

.statusBar .life-ctn .life-min {
  z-index: 4;
}

.statusBar .life-ctn .glass {
  z-index: 6;
}

.statusBar.left .life-ctn .life,
.statusBar.left .life-ctn .life-min,
.statusBar.left .life-ctn .glass,
.statusBar.right .life-ctn .life,
.statusBar.right .life-ctn .life-min,
.statusBar.right .life-ctn .glass {
  position: absolute;
  top: 0;
  
  width: 0%;
  height: 15px;

  background: url('../img/life-bar.png');
  background-repeat: no-repeat;

  transition: width 1s ease;
  -moz-transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -o-transition: width 1s ease;
}

.statusBar.left .life-ctn .life {
  right: 0;
  background-position: right -118px;
}

.statusBar.right .life-ctn .life {
  left: 0;  
  background-position: left -140px;
}

.statusBar.left .life-ctn .life-min {
  right: 0;
  background: #A82A2A;
}

.statusBar.right .life-ctn .life-min {
  left: 0;  
  background: #A82A2A;
}

.statusBar.left .life-ctn .glass {
  right: -5px;
  background-position: 0px -164px;
  width: 255px;
}

.statusBar.right .life-ctn .glass {
  left: -5px; 
  background-position: 0px -184px;
  width: 255px;
}

.statusBar.left .word,
.statusBar.right .word div,
.statusBar.left .life-ctn .life,
.statusBar.left .life-ctn .life-min {
  -o-transform: skew(-22deg);
  -ms-transform: skew(-22deg);
  -webkit-transform: skew(-22deg);
  -moz-transform: skewX(-22deg);
}

.statusBar.right .word,
.statusBar.left .word div,
.statusBar.right .life-ctn .life,
.statusBar.right .life-ctn .life-min {
  -o-transform: skew(22deg);
  -ms-transform: skew(22deg);
  -webkit-transform: skew(22deg);
  -moz-transform: skewX(22deg);
}

/*************************************
* Legends
*************************************/
.ready {
  z-index: 8;
}

.ready span, .fight, .draw,
.ko, .timesup, 
.waitingMsg, .waitingSecs, 
.winMsg, .winWord, .loading, .loadingP {
  position: absolute;
  text-transform: uppercase;
  z-index: 5;

  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.loading, .loadingP {
  z-index: 20;
  color: #FF7A00;
  text-shadow: white 4px 4px 0;
  top: 100px;
  word-spacing: 23px;
  font-size: 150px;
  letter-spacing: 10px;

}

.loading {
  left: -700px;
}

.loading.show {
  left: 50px;
}

.loadingP {
  top: 300px;
  font-size: 150px;
  right: -400px;
}

.loadingP.show {
  right: 200px;
}

.fight {
  color: yellow;
  text-shadow: black 10px 10px 0; 
  z-index: 9;
}

.fight.A {
  opacity: 0;
  font-size: 500px;
  top: 50px;
  left: -100px;
}

.fight.B {
  opacity: 1;
  font-size: 165px;
  letter-spacing: 30px;
  top: 150px;
  left: 150px;
}

.ready span {
  color: #ff2d04;
  text-shadow: black 10px 10px 0;
}

.ready span.A {
  text-indent: 100px;
  letter-spacing: 1500px;
  opacity: 0;
  font-size: 1500px;
  top: -200px;
  left: 100px;
}

.ready span.B {
  opacity: 1;
  font-size: 165px;
  top: 150px;
}

.ready span.B.x0 {
  left: 100px;
}
.ready span.B.x1 {
  left: 200px;
}
.ready span.B.x2 {
  left: 300px;
}
.ready span.B.x3 {
  left: 400px;
}
.ready span.B.x4 {
  left: 500px;
}
.ready span.B.x5 {
  left: 600px;
}

.ready span.C {
  opacity: 0;
}

.ko {
  color: #9B0000;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  z-index: 9;

  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);

  opacity: 0;
  font-size: 1px;
  top: 300px;
  left: 400px;
}

.ko.show {
  opacity: 1;
  font-size: 500px;
  top: 5px;
  left: 30px;
}

.timesup {
  color: #BAC914;
  text-shadow: 2px 0 #D3D3A9, 0 2px #D3D3A9, 1px 0 #D3D3A9, 0 1px #D3D3A9;
  z-index: 9;

  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);

  opacity: 0;
  font-size: 1px;
  top: 300px;
  left: 400px;
}

.timesup.show {
  opacity: 1;
  font-size: 150px;
  top: 200px;
  left: 125px;
}

.draw {
  color: #79C914;
  text-shadow: 2px 0 #D3D3A9, 0 2px #D3D3A9, 1px 0 #D3D3A9, 0 1px #D3D3A9;
  z-index: 9;

  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);

  opacity: 0;
  font-size: 1px;
  top: 300px;
  left: 400px;
}

.draw.show {
  opacity: 1;
  font-size: 200px;
  top: 200px;
  left: 180px;
}

.waitingMsg, .waitingSecs {
  color: #C9BB14;
  text-shadow: 2px 0 #D3D3A9, 0 2px #D3D3A9, 1px 0 #D3D3A9, 0 1px #D3D3A9;
  z-index: 11;
  opacity: 1;
}

.waitingMsg {
  font-size: 150px;
  top: -200px;
  left: 55px;
}

.waitingSecs {
  font-size: 210px;
  left: 280px;
  bottom: -200px;
  width: 240px;
  text-align: center;
}

.waitingMsg.show {
  top: 80px;
}

.waitingSecs.show {
  bottom: 800px;
}


.winMsg, .winWord {
  text-shadow: 2px 0 #D3D3A9, 0 2px #D3D3A9, 1px 0 #D3D3A9, 0 1px #D3D3A9;
  z-index: 11;
  opacity: 1;
}

.winWord {
  color: #148FC9;
  font-size: 150px;
  top: 125px;
  left: -800px;
  width: 750px;
}

.winMsg {
  color: #2AC914;
  font-size: 210px;
  right: -600px;
  top: 470px;
  width: 500px;
  text-align: center;
}

.winWord.show {
  left: 55px;
}

.winMsg.show {
  right: 70px;
}


/*************************************
* Legends - HITS
*************************************/

.hitLegend {
  color: #8AADBB;
  text-shadow: black 3px 4px 1px;
  font-size: 50px;
  
  position: absolute;
  z-index: 4;
  top: 140px;

  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.hitLegend.blue {
  color: #8AADBB;
}

.hitLegend.red {
  color: #E71010;
}

.hitLegend.yellow {
  color: #E7E710;
}

.hitLegend.left.hide {
  left: -250px;
}

.hitLegend.left.show {
  left: 150px;
}

.hitLegend.right.hide {
  right: -250px;
}

.hitLegend.right.show {
  right: 150px;
}

/*************************************
* Tweets
*************************************/

.tuits {
  position: absolute;
  height: 350px;
  top: 400px;
  list-style: none;
  width: 800px;
  background: url('../img/frustum.png'); 
  background-position: 0px -45px;

  font-size: 14px;
  font-family: 'Trade Winds', cursive;
  color: #331C06;
}

.tuits .left,
.tuits .right {
  position: absolute;
  width: 270px;
  height: 95px;
  overflow: hidden;
}

.tuits .left.t0,
.tuits .right.t0 {
  top: 80px;
}

.tuits .left.t1,
.tuits .right.t1 {
  top: 220px;
}

.tuits .right.t0,
.tuits .right.t1 {
  right: 65px;
}

.tuits .left.t0,
.tuits .left.t1 {
  left: 70px;
}

.tuits .left label,
.tuits .right label{
  font-weight: bold;
}

.tuits .left span,
.tuits .right span{
  display: inline;
  background-color: yellow;
  border-radius: 5px;
  padding: 0 3px;
}

/*************************************
* Fight Queue
*************************************/
#queueTitle {
  position: absolute;
  top: 815px;
  left: 290px;
  font-size: 30px;
  font-family: 'Trade Winds', cursive;
  color: #331C06;
}

#queueTitle .tfights {
  position: relative;
  top:0;
  left: 0;
}

#queueTitle .tqueue {
  position: relative;
  top: -14px;
  left: 60px;
}

#fightQueue {
  position: absolute;
  top: 875px;
  left: 115px;
  list-style: none;
  width: 570px;
  font-size: 18px;
  font-family: 'Trade Winds', cursive;
  color: #331C06;
  padding: 0;
  margin: 0;
}

#fightQueue li {
  background: url('../img/frustum.png'); 
  background-repeat: no-repeat;
  width: 100%;
  height: 45px;
  margin-bottom: -5px;
}

#fightQueue li:nth-child(even) {
  background-position: 0px -400px;
}

#fightQueue li:nth-child(odd) {
  background-position: 0px -450px;
}

#fightQueue li .left,
#fightQueue li .right {
  margin-top: 8px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  height: 25px;
}

#fightQueue li .left {
  float: left;
  margin-left: 50px;
}

#fightQueue li .right {
  float: right;
  margin-right: 50px;
}

/*************************************
* Ancient
*************************************/

body.ancient {
  background: #000;
  background-color: #000;
  font-family: "Lucida Sans", Arial, Helvetica, "Sans Serif";
  color: #FFF;
}

.oldBird {
  background-image: url('/img/ancient.png');
  background-repeat: no-repeat;
  width: 250px;
  height: 300px;
  float: left;
  margin-right: 10px;
}

.oldDesc {
  float: left;
  width: 580px;
  overflow: hidden;
  height: 200px;
}

.oldDesc .oldMsg a{
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.oldDesc .oldMsg {
  text-align: center;
  margin: 25px 0; 
}

.oldDesc .oldMsg.big {
  font-size: 40px;
}

.oldDesc .oldMsg.small {
  font-size: 20px; 
}
