body {
  padding: 0;
  font-size: 14px;
  background: url('/img/dark_mosaic.png') repeat;
  font-family: 'Trade Winds', cursive;
}

h1 {
	color: #FF5200;
	text-shadow: 1px 1px 1px white;
	text-align: center;
	font-size: 40pt;
}

h2 {

}

a {
  color: #00B7FF;
}

.slogan {
	text-align: center;
	color: #FFF;
}

#keywords {
	width: 80%;
}

.select2-container {
	float:left;
	width: 80%;
}

.select2-container-multi .select2-choices, #clock, #nextFights {
	font-size:16px;
  color: #999;
  padding: 6px;
  -moz-box-shadow:inset 2px 2px 5px #ccc;
  -webkit-box-shadow:inset 2px 2px 5px #ccc;
  box-shadow:inset 2px 2px 5px #ccc;
  border: 1px solid #b8b8b8;	

  border-radius: 5px;
	padding-top: 5px;
}

.select2-drop {
	opacity: 0;
}

#go {
	width: 15%;
	height: 38px;
	border-radius: 5px;
	border: solid 2px #EB6903;
	background-color: #FFB46F;
	margin-left: 5px;
	box-shadow: 1px 1px 1px #C98342 inset;
	line-height: 0;
	font-family: 'Averia Gruesa Libre', cursive;
	font-size: 45px;
	color: #923500;
	padding-bottom: 8px;

	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease; 
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; 
}

#go:hover{
	cursor: pointer;

	border: solid 2px #129200;
	background-color: #86FF6F;
	box-shadow: 1px 1px 1px #5DC942 inset;
	color: #045C00;
}

#results {
	color: #FFF;
}

.verticalBar {
	border-color: '#aaaaaa';
	border-width: 1px;
	border-style: solid;
	width: 50px;
	transition: height 1s;
	-moz-transition:height 1s; /* Firefox 4 */
	-webkit-transition:height 1s; /* Safari and Chrome */
	-o-transition:height 1s; /* Opera */
	bottom: 0;	
	position: absolute;
	border-radius: 5px;
	text-align: center;
}

.contentBar {
	height: 50px;
	width: 60px;
	float: left;
	margin: 5px;
	bottom: 0px;
	position: relative;
}

.contentBar div {
	line-height: 0;
}

ul.tweets {
	height: 300px;
	list-style: none;
	padding: 0;
}

ul.tweets li, .floatingTw {
	border: solid 1px silver;
	background: #1D1D1D;
	margin: 5px 0;
	border-radius: 5px;
	color: white;
}

ul.tweets li img, .floatingTw img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin: 5px;
	box-shadow: 3px 3px 3px #0C0C0C;
	float: left;
}

ul.tweets li span, .floatingTw span {
	height: 50px;
	display: inline-block;
	line-height: 3;
}

#clock {
	position: absolute;
	left: 0;
	top: 0;
	width: 140px;
	height: 40px;
	text-align: right;
	border: solid 2px white;
	border-radius: 10px;
	font-size: 30px;
	background-color: white;
	padding: 0 5px;
	color:black;
}

#nextFights {
	margin: 0;
	padding: 0;
	list-style: none;

	position: absolute;
	right: 0;
	top: 0;
	width: 190px;
	height: 235px;
	text-align: right;
	border: solid 2px white;
	border-radius: 10px;
	font-size: 30px;
	background-color: white;
	padding: 0 5px;
	color:black;
}

#nextFights li {
	border-bottom:dotted 2px silver;
}

#nextFights li span{
	margin: 2px;
	border: solid 1px silver;
	border-radius: 5px;
	font-size: 12px;
	font-family: Arial;
	padding: 3px;
	background-color: silver;
}

.floatingTw {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 400px;
}