body {
  padding: 0;
  font-size: 14px;
  background: url('/images/low_contrast_linen.png');
  font-family: 'Trade Winds', cursive;
}

h1 {
	color: #FF5200;
	text-shadow: 1px 1px 1px white;
	text-align: center;
	font-size: 40pt;
}

h2 {

}

a {
  color: #00B7FF;
}

.slogan {
	text-align: center;
	color: #FFF;
}

#keywords {
	width: 80%;
}

.select2-container {
	float:left;
	width: 80%;
}

.select2-container-multi .select2-choices {
	font-size:16px;
  color: #999;
  padding: 6px;
  -moz-box-shadow:inset 2px 2px 5px #ccc;
  -webkit-box-shadow:inset 2px 2px 5px #ccc;
  box-shadow:inset 2px 2px 5px #ccc;
  border: 1px solid #b8b8b8;	

  border-radius: 5px;
	padding-top: 5px;
}

.select2-drop {
	opacity: 0;
}

#go {
	width: 15%;
	height: 38px;
	border-radius: 5px;
	border: solid 2px #EB6903;
	background-color: #FFB46F;
	margin-left: 5px;
	box-shadow: 1px 1px 1px #C98342 inset;
	line-height: 1.5;
	font-family: 'Averia Gruesa Libre', cursive;
	font-size: 20px;
	color: #923500;

	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease; 
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; 
}

#go:hover{
	box-shadow: 0;
	background-color: #FFD3AB;
	cursor: pointer;
}

#results {
	color: #FFF;
}

.verticalBar {
	border-color: '#aaaaaa';
	border-width: 1px;
	border-style: solid;
	width: 50px;
	transition: height 1s;
	-moz-transition:height 1s; /* Firefox 4 */
	-webkit-transition:height 1s; /* Safari and Chrome */
	-o-transition:height 1s; /* Opera */
	bottom: 0;	
	position: absolute;
	border-radius: 5px;
	text-align: center;
}

.contentBar {
	height: 300px;
	width: 60px;
	float: left;
	margin: 5px;
	bottom: 0px;
	position: relative;
}

ul.tweets {
	overflow-x: hidden;
	overflow-y: auto;
	height: 300px;
	list-style: none;
	padding: 0;
}

ul.tweets li{
	border: solid 1px silver;
	background: #1D1D1D;
	margin: 5px 0;
	border-radius: 5px;
}

ul.tweets li img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin: 5px;
	box-shadow: 3px 3px 3px #0C0C0C;
	float: left;
}

ul.tweets li span {
	height: 50px;
	display: inline-block;
	line-height: 3;
}
