<script id="seccionKey-tmpl" type="text/template">
	<section class="tuitKey" id="sec{{keyword}}">
		<div class="contentBar">
			<div id="bar{{keyword}}" style="background-color: {{color}};" class="verticalBar" >
			{{#percentage}}{{percentage}}{{/percentage}}
			{{^percentage}}0{{/percentage}}
			</div>
		</div>
		<div id="tuitDiv{{keyword}}"></div>		
	</section>
</script>

<script id="tuitKey-tmpl" type="text/template">
		<h2 class="key">{{keyword}} ({{counter}})</h2>
		<ul class="tweets">	
			{{#tweets}}
				<li>
					<img src="{{user.image}}">
					<span>@{{user.name}}</span>
					<p>{{text}}</p>
				</li>	
			{{/tweets}}	
		</ul>
</script>